.warning-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is on top */
}

.warning-modal-content {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001; /* Ensure the content is on top of the overlay */
}

.warning-modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;

}

.warning-modal-body {
    color: #333;
    font-size: 2rem;

}
