/* Main container for the login modal */
.loginmodal_main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.hide {
    display: none;
}

/* Overlay to close the modal on click */
.loginmodal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    cursor: pointer;
}

/* Container for the modal content */
.loginmodal_container {
    background: #fff;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    z-index: 1001;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    perspective: 1000px;
    height: 400px;
}

.loginmodal_content {
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.loginmodal_content.flipped {
    transform: rotateY(180deg);
}

.loginmodal_front, .loginmodal_back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    padding: 20px;
}

.loginmodal_back {
    transform: rotateY(180deg);
}

.loginmodal_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loginmodal_form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginmodal_form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f168c8;
    color: #fff;
    cursor: pointer;
}

.loginmodal_switch {
    margin-top: 10px;
    cursor: pointer;
    color: #f168c8;
}
