

.sidebar_main {
    position: absolute;
    right: 0;
    width: 60%; 
    background-color: #f9f7f7; 
    top: 105px; 
    z-index: 100;
    display: flex;
    flex-direction: column; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
}

.sidebar_profile {
    padding: 20px;
    border-bottom: 1px solid #ddd; /* Add bottom border to separate profile section */
}

.sidebar_links {
    flex: 1; /* Allow links to fill remaining space */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_link {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em; 
    color: #333; 
    position: relative;
}

.sidebar_link:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #333; /* Darker underline color */
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition */
}

.sidebar_link:hover:after {
    width: 100%;
    left: 0;
}

.sidebar_profile {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    color: black;
    padding: 20px;
    border-bottom: 1px solid #ddd; /* Add bottom border to separate profile section */

}
.sidebar_avater {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: antiquewhite;
    margin-right: 35px;
}
.sidebar_profile_link {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em; 
    color: #333; 
    position: relative;
}

.sidebar_profile_link:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #333; /* Darker underline color */
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition */
}

.sidebar_profile_link:hover:after {
    width: 100%;
    left: 0;
}


@media screen and (min-width: 768px) {
    .sidebar_main {
        display: none;
    }
}